# Exercícios - Entrando no ciclo

Chegou o momento de resolvermos alguns problemas utilizando as técnicas de ciência de dados que acumulamos até aqui!

A ideia é que vcs exercitem (idealmente em grupo) a **esteira de um projeto de data science**.

Exercitem a esteira completa (incluindo as etapas de exploração dos dados!), mas deem foco especial para a etapa de modelagem, objetivando a melhoria das **métricas de avaliação** que você(s) julgarem as mais adequadas!

<img src="https://www.abgconsultoria.com.br/blog/wp-content/uploads/img33-768x242.png" width=700>

___

Para cada um dos datasets a seguir (alguns já conhecemos), responda:

- 1 - qual é o problema a ser resolvido?
- 2 - qual é a variável resposta (target?)
- 3 - o problema em questão é um problema de classificação ou regressão?
- 4 - faça EDA dos dados!! Conheça os dados!
- 5 - crie um modelo que proporcione a melhor métrica avaliação (discuta qual métrica faz mais sentido)

Obs:

> utilize os estimadores/hipóteses que conhecemos até um momento;

> se algum integrante do grupo conhecer outros estimadores/hipóteses, o grupo pode usar estas ferramentas **contanto que o integrante que conhece compartilhe com os demais colegas a essência do estimador a ser usado**
_____

In [4]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# machine learning
from sklearn.linear_model import LogisticRegression
# from sklearn.svm import SVC, LinearSVC
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.neighbors import KNeighborsClassifier
# from sklearn.naive_bayes import GaussianNB
# from sklearn.linear_model import Perceptron
# from sklearn.linear_model import SGDClassifier
# from sklearn.tree import DecisionTreeClassifier

____
____
____

### Problema 1: Titanic

Base `titanic.csv` na pasta `/datasets`

>what sorts of people were more likely to survive?

In [5]:
df_titanic = pd.read_csv('../datasets/titanic.csv', sep=',')
df_titanic.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,211.3375,B5,S,2,?,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.55,C22 C26,S,11,?,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2,1,2,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30,1,2,113781,151.55,C22 C26,S,?,135,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,1,2,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON"

In [6]:
df_titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   survived   1309 non-null   int64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1309 non-null   object
 5   sibsp      1309 non-null   int64
 6   parch      1309 non-null   int64
 7   ticket     1309 non-null   object
 8   fare       1309 non-null   object
 9   cabin      1309 non-null   object
 10  embarked   1309 non-null   object
 11  boat       1309 non-null   object
 12  body       1309 non-null   object
 13  home.dest  1309 non-null   object
dtypes: int64(4), object(10)
memory usage: 143.3+ KB

In [7]:
#transforma idades que não sejam numéricas em nan
df_titanic['age'].replace('?', np.nan, inplace=True)

In [8]:
#dropa idades nan e converte as idades str para float
df_titanic = df_titanic.dropna()
df_titanic['age'] = [float(x) for x in df_titanic['age']]

In [9]:
#categoriza o sexo do passageiro em 1 ou 0
df_titanic['sex'].replace('male', 1, inplace=True)
df_titanic['sex'].replace('female', 0, inplace=True)

In [10]:
df_titanic.describe()

,pclass,survived,sex,age,sibsp,parch
count,1046.000000,1046.000000,1046.000000,1046.000000,1046.000000,1046.00000
mean,2.207457,0.408222,0.629063,29.881135,0.502868,0.42065
std,0.841497,0.491740,0.483287,14.413500,0.912167,0.83975
min,1.000000,0.000000,0.000000,0.166700,0.000000,0.00000
25%,1.000000,0.000000,0.000000,21.000000,0.000000,0.00000
50%,2.000000,0.000000,1.000000,28.000000,0.000000,0.00000
75%,3.000000,1.000000,1.000000,39.000000,1.000000,1.00000
max,3.000000,1.000000,1.000000,80.000000,8.000000,6.00000

In [51]:
df_model = df_titanic.select_dtypes(include = np.number)

In [53]:
df_model.head(10)

   pclass  survived  sex      age  sibsp  parch
0       1         1    0  29.0000      0      0
1       1         1    1   0.9167      1      2
2       1         0    0   2.0000      1      2
3       1         0    1  30.0000      1      2
4       1         0    0  25.0000      1      2
5       1         1    1  48.0000      0      0
6       1         1    0  63.0000      1      0
7       1         0    1  39.0000      0      0
8       1         1    0  53.0000      2      0
9       1         0    1  71.0000      0      0

In [54]:
X = df_model.drop(columns=['survived'])
X

      pclass  sex      age  sibsp  parch
0          1    0  29.0000      0      0
1          1    1   0.9167      1      2
2          1    0   2.0000      1      2
3          1    1  30.0000      1      2
4          1    0  25.0000      1      2
...      ...  ...      ...    ...    ...
1301       3    1  45.5000      0      0
1304       3    0  14.5000      1      0
1306       3    1  26.5000      0      0
1307       3    1  27.0000      0      0
1308       3    1  29.0000      0      0

[1046 rows x 5 columns]

In [55]:
y = df_model['survived']
y

0       1
1       1
2       0
3       0
4       0
       ..
1301    0
1304    0
1306    0
1307    0
1308    0
Name: survived, Length: 1046, dtype: int64

In [56]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [57]:
X_train.shape

(836, 5)

In [58]:
X_test.shape

(210, 5)

In [59]:
y_train.shape

(836,)

In [60]:
y_test.shape

(210,)

In [61]:
X_test.columns.values

array(['pclass', 'sex', 'age', 'sibsp', 'parch'], dtype=object)

What are the data types for various features?

In [19]:
X_train.info()
print('='*40)
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1047 entries, 772 to 1126
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1047 non-null   int64
 1   name       1047 non-null   object
 2   sex        1047 non-null   object
 3   age        1047 non-null   object
 4   sibsp      1047 non-null   int64
 5   parch      1047 non-null   int64
 6   ticket     1047 non-null   object
 7   fare       1047 non-null   object
 8   cabin      1047 non-null   object
 9   embarked   1047 non-null   object
 10  boat       1047 non-null   object
 11  body       1047 non-null   object
 12  home.dest  1047 non-null   object
dtypes: int64(3), object(10)
memory usage: 114.5+ KB
========================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 262 entries, 1148 to 199
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     262 non-null    int64
 1   name       262 non-null    object
 2   sex        262 non-null    object
 3   age        262 non-null    object
 4   sibsp      262 non-null    int64
 5   parch      262 non-null    int64
 6   ticket     262 non-null    object
 7   fare       262 non-null    object
 8   cabin      262 non-null    object
 9   embarked   262 non-null    object
 10  boat       262 non-null    object
 11  body       262 non-null    object
 12  home.dest  262 non-null    object
dtypes: int64(3), object(10)
memory usage: 28.7+ KB

What is the distribution of numerical feature values across the samples?

What is the distribution of categorical features?

In [64]:
from sklearn.linear_model import LogisticRegression

logit = LogisticRegression().fit(X_train, y_train)

In [65]:
logit.intercept_

array([4.99897556])

In [66]:
logit.feature_names_in_

array(['pclass', 'sex', 'age', 'sibsp', 'parch'], dtype=object)

In [67]:
logit.coef_

array([[-1.14725353, -2.63003455, -0.03980415, -0.3288364 ,  0.06152164]])

In [69]:
X_test

      pclass  sex   age  sibsp  parch
860        3    0  26.0      0      0
317        1    1  21.0      0      1
688        3    1  29.0      1      0
357        2    1  42.0      0      0
1259       3    1  36.0      0      0
...      ...  ...   ...    ...    ...
745        3    0  30.0      0      0
674        3    1  32.0      0      0
360        2    1  26.0      1      1
1258       3    0  29.0      0      2
431        2    1  28.0      0      1

[210 rows x 5 columns]

In [71]:
X_test.values

array([[ 3.,  0., 26.,  0.,  0.],
       [ 1.,  1., 21.,  0.,  1.],
       [ 3.,  1., 29.,  1.,  0.],
       ...,
       [ 2.,  1., 26.,  1.,  1.],
       [ 3.,  0., 29.,  0.,  2.],
       [ 2.,  1., 28.,  0.,  1.]])

array([[0.37231292, 0.62768708],
       [0.38999768, 0.61000232],
       [0.92797399, 0.07202601],
       [0.83164634, 0.16835366],
       [0.92454526, 0.07545474],
       [0.42218888, 0.57781112],
       [0.83309787, 0.16690213],
       [0.12233264, 0.87766736],
       [0.73111325, 0.26888675],
       [0.28488688, 0.71511312],
       [0.19460946, 0.80539054],
       [0.49310969, 0.50689031],
       [0.87087379, 0.12912621],
       [0.21899732, 0.78100268],
       [0.50306026, 0.49693974],
       [0.68166916, 0.31833084],
       [0.92172112, 0.07827888],
       [0.88165713, 0.11834287],
       [0.54300601, 0.45699399],
       [0.33592132, 0.66407868],
       [0.89165198, 0.10834802],
       [0.06552228, 0.93447772],
       [0.28488688, 0.71511312],
       [0.5130084 , 0.4869916 ],
       [0.09117597, 0.90882403],
       [0.70700157, 0.29299843],
       [0.0788136 , 0.9211864 ],
       [0.72462905, 0.27537095],
       [0.93846763, 0.06153237],
       [0.85277792, 0.14722208],
       [0.88371794, 0.11628206],
       [0.83164634, 0.16835366],
       [0.11631507, 0.88368493],
       [0.37195597, 0.62804403],
       [0.26256211, 0.73743789],
       [0.80356442, 0.19643558],
       [0.08175235, 0.91824765],
       [0.1158792 , 0.8841208 ],
       [0.50315419, 0.49684581],
       [0.93612899, 0.06387101],
       [0.31840056, 0.68159944],
       [0.11177267, 0.88822733],
       [0.30558577, 0.69441423],
       [0.57852508, 0.42147492],
       [0.19351977, 0.80648023],
       [0.44194433, 0.55805567],
       [0.05697872, 0.94302128],
       [0.54534035, 0.45465965],
       [0.78718058, 0.21281942],
       [0.11812281, 0.88187719],
       [0.3013789 , 0.6986211 ],
       [0.85188848, 0.14811152],
       [0.82020427, 0.17979573],
       [0.89974574, 0.10025426],
       [0.36702129, 0.63297871],
       [0.34721213, 0.65278787],
       [0.90266035, 0.09733965],
       [0.96095625, 0.03904375],
       [0.37474732, 0.62525268],
       [0.90610211, 0.09389789],
       [0.87528418, 0.12471582],
       [0.72670007, 0.27329993],
       [0.88774618, 0.11225382],
       [0.71517856, 0.28482144],
       [0.86633125, 0.13366875],
       [0.92866623, 0.07133377],
       [0.16529408, 0.83470592],
       [0.64778189, 0.35221811],
       [0.91322147, 0.08677853],
       [0.42404449, 0.57595551],
       [0.80977163, 0.19022837],
       [0.36725187, 0.63274813],
       [0.10322804, 0.89677196],
       [0.36305911, 0.63694089],
       [0.56499744, 0.43500256],
       [0.90266035, 0.09733965],
       [0.09960105, 0.90039895],
       [0.79014143, 0.20985857],
       [0.19232344, 0.80767656],
       [0.28035877, 0.71964123],
       [0.3013789 , 0.6986211 ],
       [0.22770569, 0.77229431],
       [0.0751813 , 0.9248187 ],
       [0.87836108, 0.12163892],
       [0.34271503, 0.65728497],
       [0.97974741, 0.02025259],
       [0.50306026, 0.49693974],
       [0.52294624, 0.47705376],
       [0.46332215, 0.53667785],
       [0.87528418, 0.12471582],
       [0.9337069 , 0.0662931 ],
       [0.22268351, 0.77731649],
       [0.35390561, 0.64609439],
       [0.87956476, 0.12043524],
       [0.86165429, 0.13834571],
       [0.69868873, 0.30131127],
       [0.15848277, 0.84151723],
       [0.55261992, 0.44738008],
       [0.30035576, 0.69964424],
       [0.5915746 , 0.4084254 ],
       [0.47889719, 0.52110281],
       [0.75393131, 0.24606869],
       [0.67452342, 0.32547658],
       [0.06312685, 0.93687315],
       [0.33095746, 0.66904254],
       [0.80750457, 0.19249543],
       [0.69396613, 0.30603387],
       [0.90089759, 0.09910241],
       [0.16879384, 0.83120616],
       [0.16939061, 0.83060939],
       [0.54443996, 0.45556004],
       [0.92836521, 0.07163479],
       [0.65680933, 0.34319067],
       [0.87956476, 0.12043524],
       [0.41435367, 0.58564633],
       [0.47607436, 0.52392564],
       [0.2122655 , 0.7877345 ],
       [0.94555121, 0.05444879],
       [0.91430414, 0.08569586],
       [0.87528418, 0.12471582],
       [0.87528418, 0.12471582],
       [0.87087379, 0.12912621],
       [0.86633125, 0.13366875],
       [0.1608266 , 0.8391734 ],
       [0.95036716, 0.04963284],
       [0.63864763, 0.36135237],
       [0.89165198, 0.10834802],
       [0.12673918, 0.87326082],
       [0.27684762, 0.72315238],
       [0.13310958, 0.86689042],
       [0.91632443, 0.08367557],
       [0.87605356, 0.12394644],
       [0.87528418, 0.12471582],
       [0.87087379, 0.12912621],
       [0.77466728, 0.22533272],
       [0.76312656, 0.23687344],
       [0.96744928, 0.03255072],
       [0.75393131, 0.24606869],
       [0.88774618, 0.11225382],
       [0.04852055, 0.95147945],
       [0.88371794, 0.11628206],
       [0.65680933, 0.34319067],
       [0.88661372, 0.11338628],
       [0.35390561, 0.64609439],
       [0.92963721, 0.07036279],
       [0.24341999, 0.75658001],
       [0.12475089, 0.87524911],
       [0.31840056, 0.68159944],
       [0.88371794, 0.11628206],
       [0.14048022, 0.85951978],
       [0.78226369, 0.21773631],
       [0.91880056, 0.08119944],
       [0.19460946, 0.80539054],
       [0.89910648, 0.10089352],
       [0.47889719, 0.52110281],
       [0.45626604, 0.54373396],
       [0.9126598 , 0.0873402 ],
       [0.57475379, 0.42524621],
       [0.22770569, 0.77229431],
       [0.17930818, 0.82069182],
       [0.02748298, 0.97251702],
       [0.80640371, 0.19359629],
       [0.05697872, 0.94302128],
       [0.92172112, 0.07827888],
       [0.87087379, 0.12912621],
       [0.73111325, 0.26888675],
       [0.13962909, 0.86037091],
       [0.9518194 , 0.0481806 ],
       [0.27684762, 0.72315238],
       [0.91657988, 0.08342012],
       [0.21401022, 0.78598978],
       [0.81146335, 0.18853665],
       [0.93620823, 0.06379177],
       [0.87528418, 0.12471582],
       [0.12475089, 0.87524911],
       [0.9536123 , 0.0463877 ],
       [0.31292492, 0.68707508],
       [0.46165879, 0.53834121],
       [0.81747765, 0.18252235],
       [0.75393131, 0.24606869],
       [0.89165198, 0.10834802],
       [0.74647249, 0.25352751],
       [0.90349119, 0.09650881],
       [0.96651058, 0.03348942],
       [0.80630742, 0.19369258],
       [0.46851975, 0.53148025],
       [0.63183529, 0.36816471],
       [0.70846333, 0.29153667],
       [0.66415034, 0.33584966],
       [0.52554092, 0.47445908],
       [0.86199003, 0.13800997],
       [0.14815206, 0.85184794],
       [0.14904613, 0.85095387],
       [0.91880056, 0.08119944],
       [0.83164634, 0.16835366],
       [0.94120387, 0.05879613],
       [0.22078186, 0.77921814],
       [0.96836253, 0.03163747],
       [0.86583862, 0.13416138],
       [0.12916234, 0.87083766],
       [0.65521463, 0.34478537],
       [0.88371794, 0.11628206],
       [0.74843625, 0.25156375],
       [0.91578099, 0.08421901],
       [0.32630199, 0.67369801],
       [0.41021166, 0.58978834],
       [0.9126598 , 0.0873402 ],
       [0.77343131, 0.22656869],
       [0.37146481, 0.62853519],
       [0.72682252, 0.27317748]])

ValueError: Classification metrics can't handle a mix of binary and multilabel-indicator targets

___
___
___

### Problema 2 - Tips

Base `tips.csv` na pasta `/datasets`

___
___
___

### Problema 3: house prices

Base `house_prices.csv` na pasta `/datasets`

___
___
___

### Problema 4 - Iris

Base `iris.csv` na pasta `/datasets`

___
___
___

### Problema 5 - breast cancer

Base `breast_cancer.csv` na pasta `/datasets`

___
___
___

### Problema 6 - VOCÊ ESCOLHE!

Entre no [Kaggle](https://www.kaggle.com/), ou consiga dados **supervisionados** (com o target desejado) em qualquer outra fonte, e faça o que fizemos acima!

___
___
___