In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('Atividade_extra.csv')

In [5]:
df.head()

,produto,regiao,profissao,anomes,sum,qtd,soma_bad_rate
0,imobiliario,Nordeste,Advogado,NaN,NaN,1,1
1,crediario,Nordeste,Medico,NaN,NaN,1,1
2,imobiliario,Sudeste,Engenheiro,NaN,NaN,1,1
3,imobiliario,Nordeste,Enfermeiro,NaN,NaN,1,1
4,consignado,Sudeste,Cientista da Computacao,NaN,NaN,1,1

In [8]:
df.pivot_table(index='produto', values='qtd', aggfunc='sum')

             qtd
produto
consignado    35
crediario     29
imobiliario   26
veiculo       30

In [9]:
df.pivot_table(index='anomes', values='sum_dias_atraso', aggfunc='mean')

KeyError: 'sum_dias_atraso'

In [10]:
a = 1
b = 3

while a < 5:
    b = a*2
    a += 1
print(a, b)

5 8